ul {
    list-style: none;
}

.navbar {
    background-color: #CB997E;
    margin: 0;
    height: 65px;
    position: fixed;
    width: 100vw;
    color: #96705c;
    
}  

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input  {
    position: relative;
    top: 2px;
    height: 50px;
    margin: 5px;
    width: 450px;
    border-radius: 10px;
    background-color: #FFE8D6;
    border: 0;
    text-align: center;
    outline: none;
    color: #96705c;
    &::placeholder{
        color: #96705c;
    }
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scaleX(1.05) scaleY(1.05);
    }
}


.auth {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.auth li button {
    background-color: #FFE8D6;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 0;
    color: #96705c;


    transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    &:hover{
        transform: scaleX(1.15) scaleY(1.15);
        background-color: #96705c;
        color: #FFE8D6;
    }
}